* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

/*?-------------------- Common styles ----------?*/

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}
.section-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 89%;
  letter-spacing: 0.01em;
  color: #333e44;
  margin: 0 auto 16px;
}
.section-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #475e69;
}
.card-item-image {
  border-radius: 5px;
  fill: #f5f5f5;
  margin-bottom: 28px;
}
.card-item {
  transition: 450ms;
}
.card-item:hover,
.card-item:focus {
  box-shadow: 0 32px 56px 0 rgba(0, 0, 0, 0.08);
  transform: scale(103%);
}
.card-item-nametag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.card-item-name {
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #333e44;
}
.card-item-span {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.free-span {
  color: #20c08b;
}
.premium-span {
  color: #ffc942;
}
.temp-free-span {
  color: #009bff;
}

.card-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #475e69;
  margin-bottom: 16px;
}
.card-item-tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
}
.card-item-tag {
  border-radius: 4px;
  padding: 0px 10px;
  background: #e1ebfb;

  font-weight: 500;
  font-size: 14px;
  line-height: 229%;
  letter-spacing: 0.01em;
  color: #0086d6;
}
.section-button {
  border-radius: 8px;
  width: 159px;
  height: 45px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background: #333e44;

  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #fff;
  transition: 450ms;
}
.section-button:hover,
.section-button:focus {
  cursor: pointer;
  transform: scale(105%);
}

/**-------------------- Header  ----------**/
.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #1f2e35;
  padding: 18px 150px;
  min-width: none;
}

.header-logo {
  width: 40px;
  height: 43px;
  transition: 450ms;
}
.header-logo:hover,
.header-logo:focus {
  transform: scale(150%);
}

.header-logo-link {
  width: 36px;
  height: 36px;
}

.navigation {
  /* geometry */
  display: flex;
  justify-content: space-between;
  min-width: 530px;
  max-height: 32px;
  padding: 6px 0px;
  margin: 0 215px 0 267px;
  /* text */
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: 450ms;
}

.nav-link:hover,
.nav-link:focus {
  color: #0075b9;
  transform: scale(105%);
}
.login-btn {
  /* geometry */
  border-radius: 8px;
  width: 89px;
  height: 39px;
  border: none;
  background: #0086d6;
  color: inherit;
  margin: 2px 0px;
  /* text */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 108%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  transition: 450ms;
}

.login-btn:hover,
.login-btn:focus {
  cursor: pointer;
  background-color: #0075b9;
  transform: scale(105%);
}

/**-------------------- Hero section ----------**/
.hero-container {
  color: #fff;
  background: #1f2e35;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero {
  min-height: 452px;
  max-width: 557px;
  /* border: #0086d6 1px solid; */
  padding: 112px 0px 102px 0px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 152%;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 203%;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}
.hero-btn {
  border-radius: 8px;
  width: 177px;
  height: 60px;
  background: #0086d6;
  margin-bottom: 50px;
  /* text */
  font-weight: 500;
  font-size: 20px;
  line-height: 305%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: inherit;
  transition: 450ms;
}

.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background-color: #0075b9;
  transform: scale(105%);
}

.hero-users {
  display: flex;
  flex-direction: row;
}
.hero-user-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.second-user-hero {
  margin-left: -23px;
}
.hero-numbers {
  padding: 12px 0px 10px 15px;
}
.accent {
  color: #0086d6;
}
.hero-image {
  padding: 61px 0px 55px;
}

/**-------------------- Statistics  ----------*/

.stats-container {
  padding: 70px 150px 70px;
}

.stats-list {
  display: flex;
  flex-direction: row;
}
.stats-item {
  max-width: 360px;
  min-height: 210px;
  /* outline: #0075b9 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-span {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-top: 24px;
  margin-bottom: 8px;
}
.stats-title {
  color: #333e44;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.stats-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  color: #475e69;
}
.stats-number-total {
  color: #0086d6;
}
.stats-number-free {
  color: #2ba093;
}
.stats-number-premium {
  color: #f36;
}

/**-------------------- Popular section ----------*/

.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px 80px;
}

.popular-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 31px;
  list-style: none;
  padding: 53px 0px 50px;
}
.popular-item {
  border-radius: 8px;
  width: 320px;
  height: 392px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  overflow: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.popular-item-image {
  border-radius: 5px;
  margin-bottom: 28px;
}

/**-------------------- New comer section ----------**/

.newcomer-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.newcomer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1050px;
  padding: 53px 0px 50px;
  gap: 50px;
  transition: 450ms;
}
.newcomer-item {
  border-radius: 8px;
  width: 452px;
  height: 146px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 24px;
}
.newcomer-item-name {
  font-size: 24px;
}
.newcomer-item-span {
  font-size: 18px;
  line-height: 150%;
}

/**-------------------- Trusted section ----------  */
